[Desktop Entry]
Type=Application
Name=HyperX Battery Monitor
Comment=System tray battery monitor for HyperX Cloud Flight
Exec=kde-hyperx
Icon=audio-headphones
Terminal=false
Categories=System;Monitor;
StartupNotify=false
